alianator {{ alianator_version }}
Pycord {{ pycord_version }}
{{ python_implementation }} {{ python_version }}

System Info:
- Name: {{ system_info.name }}
- Version: {{ system_info.version }}
- Architecture: {{ system_info.architecture }}